<div class="main">
  <div class="form1">
    <div *ngIf="!showLogin" class="col-md-12">
      <h3 class="text-center">
        <i class="fa-solid fa-user-secret"></i> Admin Registration
      </h3>
      <p class="text-center">
        Already have an account?
        <span class="warning" (click)="openLogin()">Login</span>
      </p>
      <form [formGroup]="regForm" (ngSubmit)="submitData()" class="mt-5">
        <div class="form-row">
          <!-- First Name -->
          <div class="form-group col-md-12">
            <label for="formGroupExampleInput">First Name</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              formControlName="first_name"
            />
          </div>

          <div class="warning" *ngIf="regForm.get('first_name')?.touched">
            <div *ngIf="regForm.get('first_name')?.hasError('required')">
              *Required Filled
            </div>
            <!-- <div *ngIf="regForm.get('first_name')?.hasError('pattern')">
              *Type Properly
            </div> -->
          </div>

          <!-- Last Name -->
          <div class="form-group col-md-12">
            <label for="formGroupExampleInput2">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput2"
              formControlName="last_name"
            />
          </div>

          <div class="warning" *ngIf="regForm.get('last_name')?.touched">
            <div *ngIf="regForm.get('last_name')?.hasError('required')">
              *Required Filled
            </div>
            <!-- <div *ngIf="regForm.get('last_name')?.hasError('pattern')">
              *Type Properly
            </div> -->
          </div>

          <!-- Phone Number -->
          <div class="form-group col-md-12">
            <label for="inputEmail4">Phone Number</label>
            <input
              type="text"
              class="form-control"
              id="inputPhn4"
              formControlName="phn"
            />
          </div>

          <div class="warning" *ngIf="regForm.get('phn')?.touched">
            <div *ngIf="regForm.get('phn')?.hasError('required')">
              *Required Filled
            </div>
            <!-- <div *ngIf="regForm.get('phn')?.hasError('pattern')">
              *Type Properly
            </div> -->
          </div>

          <!-- Email -->
          <div class="form-group col-md-12">
            <label for="inputEmail4">Email</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail4"
              formControlName="email"
            />
          </div>

          <div class="warning" *ngIf="regForm.get('email')?.touched">
            <div *ngIf="regForm.get('email')?.hasError('required')">
              *Required Filled
            </div>
            <div *ngIf="regForm.get('email')?.hasError('pattern')">
              *Type Properly
            </div>
          </div>

          <!-- Password -->
          <div class="form-group col-md-12">
            <label for="inputPassword4">Password</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword4"
              formControlName="password"
            />
          </div>

          <div class="warning" *ngIf="regForm.get('password')?.touched">
            <div *ngIf="regForm.get('password')?.hasError('required')">
              *Required Filled
            </div>
            <div *ngIf="regForm.get('password')?.hasError('maxlength')">
              *Max Length 10
            </div>
            <div *ngIf="regForm.get('password')?.hasError('pattern')">
              *Type Properly
            </div>
          </div>
        </div>

        <!-- <label for="profile_pic">Profile Picture</label><br>
            <input type="file" id="profile_pic" (change)="onFileSelect($event)" /> -->

        <br />

        <div class="d-flex justify-content-center mt-4">
          <button
            type="submit"
            class="btn btn-dark submitbtn"
            [disabled]="regForm.invalid"
          >
            Sign Up
          </button>
        </div>
        <!-- <p class="warning" (click)="openLogin()">
          Already Have Account ? Click to Login.
        </p> -->
      </form>
    </div>

    <div *ngIf="showLogin" class="col-md-12">
      <h3 class="text-center">
        <i class="fa-solid fa-user-secret"></i> Admin Login
      </h3>
      <p class="text-center">
        Don't have an account?
        <span class="warning" (click)="openSignup()">Register</span>
      </p>
      <form [formGroup]="loginForm" (ngSubmit)="submitDataLogin()" class="mt-5">
        <!-- Email -->
        <div class="form-group col-md-12">
          <label for="inputEmail4">Email</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            formControlName="email"
          />
        </div>

        <div class="warning" *ngIf="loginForm.get('email')?.touched">
          <div *ngIf="loginForm.get('email')?.hasError('required')">
            *Required Filled
          </div>
          <div *ngIf="loginForm.get('email')?.hasError('pattern')">
            *Type Properly
          </div>
        </div>

        <!-- Password -->
        <div class="form-group col-md-12">
          <label for="inputPassword4">Password</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            formControlName="password"
          />
        </div>

        <div class="warning" *ngIf="loginForm.get('password')?.touched">
          <div *ngIf="loginForm.get('password')?.hasError('required')">
            *Required Filled
          </div>

          <div *ngIf="loginForm.get('password')?.hasError('maxlength')">
            *Max Length 8
          </div>
          <div *ngIf="loginForm.get('password')?.hasError('pattern')">
            *Type Properly
          </div>
        </div>

        <br />

        <div class="d-flex justify-content-center mt-4">
          <button
            type="submit"
            class="btn btn-dark submitbtn"
            [disabled]="loginForm.invalid"
          >
            Sign In
          </button>
        </div>
        <div>
          <p class="warning">{{ err_msg }}</p>
        </div>
        <!-- <p class="warning" (click)="openSignup()">
          Don't Have Account ? Click to Sign-up.
        </p> -->
      </form>
    </div>
  </div>
</div>
