<div class="container">
  <div class="row">
    <div class="row sb">
    <div class="col-md-6">
      <app-search-bar
      (searchtextchange)="onSearchTextEntered($event)"
      ></app-search-bar>
    </div>

    <div class="dropdown col-md-4 my-2 my-sm-0 ">
      <button class="btn btn-dark" type="submit">Sort by price</button>
      <div class="dropdown-content">
        <a class="cursor" *ngFor="let item of dropdownArr"
          ><span (click)="sortItem($event)">{{ item }}</span></a
        >
      </div>
    </div>

    
    <div
      class="col-md-2  d-flex justify-content-end"
      *ngIf="seller_status == 0 || admin_status == 1"
    >
      <button routerLink="/product/add-product" class="btn btn-info addprodbtn">
        <i class="fa fa-plus" aria-hidden="true"></i>Add Products
      </button>
    </div>

  </div>

 
    <div class="col-md-3" *ngFor="let item of getprodarr ">
      <div class="card text-center prodcard mb-4">
        <img src="{{ item?.image }}" class="card-img-top cardimg" />
        <div class="card-body">
          <h5 class="card-title">{{ item?.name }}</h5>
          <p class="card-text">
            Price: <span class="fw-bold">{{ item?.price }}</span>
          </p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-around">
            <a routerLink="" class="btn btn-success buttons">Show details</a>
            <button
              routerLink="/edit-prod/{{ item?.id }}"
              class="btn btn-warning actionbtn buttons"
              *ngIf="seller_status == 0 || admin_status == 1"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button
              class="btn btn-danger actionbtn buttons"
              *ngIf="admin_status == 1" (click)="removeprod(item?.id)"
            >
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>


