<section class="banner">
  <!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel"> -->
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../../assets/Picture/1_24_2023 11_35_50 PM.png" class="d-block w-100" alt="Wild Landscape"/>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Electronics</h5> -->
          <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
          <a href="#" class="btn btn-outline-light btn-lg " role="button" aria-pressed="true">Shop Now</a>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/Picture/1_24_2023 11_30_18 PM.png" class="d-block w-100" alt="Camera"/>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Clothing</h5> -->
          <!-- <p>make your closet look like a boutique</p> -->
          <a href="#" class="btn btn-outline-light btn-lg " role="button" aria-pressed="true">Shop Now</a>
          <!-- <button type="button" class="btn btn-outline-secondary">Secondary</button> -->
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/Picture/1_24_2023 11_54_27 PM.png" class="d-block w-100" alt="Exotic Fruits"/>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Third slide label</h5> -->
          <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
          <a href="#" class="btn btn btn-outline-success btn-lg " role="button" aria-pressed="true">Shop Now</a>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/Picture/1_25_2023 12_02_18 AM.png" class="d-block w-100" alt="Exotic Fruits"/>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Fourth slide label</h5> -->
          <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
          <a href="#" class="btn btn btn-outline-dark btn-lg " role="button" aria-pressed="true">Shop Now</a>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" class="d-block w-100" alt="Exotic Fruits"/>
        <div class="carousel-caption d-none d-md-block">
          <h5>Fifth slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Shop Now</a>
        </div>
      </div>

      <div class="carousel-item" >
        <img src="../../../assets/Picture/y2020-03-11-03_generated.jpg" class="d-block w-100" alt="Exotic Fruits"/>
        <div class="carousel-caption d-none d-md-block">
          <h5>Sixth slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Shop Now</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>






  
</section>
