<div class="container p-5">
    <div class="d-flex justify-content-center align-items-center">
      <div class="card w-50 p-5">
        <div class="card-body">
          <!-- <h3 class="card-title text-center mb-4">Payment Methods</h3> -->
          <h5 class="card-text text-center mb-5">
            <u>Pay Via Credit Card</u>
          </h5>
          <form class="mb-5">
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="fname"
                    placeholder="First Name"
                  />
                  <label for="fname">First Name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="lname"
                    placeholder="Last Name"
                  />
                  <label for="lname">Last Name</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="cardno"
                    placeholder="Card Number"
                  />
                  <label for="cardno">Card Number</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="exp"
                    placeholder="MM/YY"
                  />
                  <label for="exp">MM/YY</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="ccv"
                    placeholder="CCV"
                  />
                  <label for="ccv">CCV</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="col-md-12 d-flex justify-content-center align-items-center"
              >
                <button class="btn btn-primary mt-5 paybtn">Pay</button>
              </div>
            </div>
          </form>
          <h5 class="card-text text-center mb-5"><u>Pay Via UPI Id</u></h5>
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="upiid"
                    placeholder="upi"
                  />
                  <label for="upiid">UPI ID</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="col-md-12 d-flex justify-content-center align-items-center"
              >
                <button class="btn btn-primary mt-5 upipaybtn">
                  Verify And Pay
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

